{% extends 'index.html' %}

{% block title %}
Tasks
{% endblock %}

{% block body %}



{% if empty == False %}
<div align="center">

    <h2 id="title">You have {{ taskcount }} Tasks Scheduled        
         <a  href="/add" style="padding-left: 50px; " > Add more</a>  </h2> 
    <table class="table_task">
        <tr>
            <th> ID</th>
            <th>Name of the Task </th>
            <th> Time </th>
            <th> Delete</th>
            <th>Update</th>
        </tr>
        {% set count = 0 %}
        {% for task in tasks %}
        {% set count = count + 1 %}
        <tr>
            <td> {{ count }} </td>
            <td> {{ task.tasks }}</td>
            <td> {{ task.date.date() }}</td>

            <td> <a href="/update/{{ task.id }}">Update</a></td>

            <td>
                <a href="/delete/{{ task.id }}"> Delete </a>

            </td>
        </tr>

        {% endfor %}

    </table>


</div>
{% else %}
<h2 id="title">You have No Tasks Scheduled        
    <a  href="/add" style="padding-left: 50px; " > Add more</a>  </h2> 

{% endif %}
<style>
    .table_task {
        width: 80%;
        font-size: larger;
        
    }

    td,th {
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 80px;
    }

    #addtask {
        align-content: center;
    }
    #title{
        margin-bottom: 30px;
        align-items: center;
        text-align: center;
    }
    
</style>
{% endblock%}